html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

h1 > span {
  color: #34D1D1;
}

h4 {
  padding: 0;
  margin: 0;
}

hr {
  width: 80%;
  height: .01px;
  border-top: 1px solid #D1D2D3;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.navigation > hr {
  display: none;
}

.content-splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
}

.content-splitter > h3 {
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.2em;
}

.accordion-container {
 display: flex;
 flex-direction: column;
 align-self: center;
 justify-content: center;
 align-items: center;
 width: 800px;
}

.accordion-tab-container {
  width: 800px;
  height:40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.accordion-tab {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #D1D2D3;
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  background: #F2F2F2;
  color: #666666;
  font-weight: 300;
}

.accordion-tab:nth-child(4) {
  border-right: 1px solid #D1D2D3;
}

.accordion-tab.active {
  background: #FFF;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-bottom: none;
  background: #FFF;
  color: #666666;
  font-weight: 300;
  margin-bottom: 1px;
}

.accordion-tab.active:nth-child(1) {
  border-right: none;
}

.accordion-tab.active:nth-child(4) {
  /* border-left: none; */
}

.accordion-content-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-left: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  padding: 20px 10px 10px 20px;
}

.accordion-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  text-align: left;
  font-size: .95em;
}

.accordion-text-container > p {
  padding: 0;
  font-size: .85em;
}

.accordion-hr {
  margin-left: 0;
  width: 100%;
}

.accordion-img {
  width: 28%;
  height: 28%;
  border: 1px solid #D1D2D3;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  height: 20px;
  padding: 20px 60px;
  background: #2F2235;
  justify-content: space-between;
  align-items: center;
  color: #F2F2F2;
}

.flexible-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  width: 830px;
  padding: 20px 0;
  height: 800px;
}

.flex-row-1 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.flex-row-2 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.flex-row-3 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.card-item {
  border: 1px solid #e1e0e2;
  height: auto;
}

.card-item > h4 {
  border-bottom: 1px solid #e1e0e2;
  padding: 15px 10px;
}

.flex-card-img {
  width: 100%;
  height: 77.5%;
}

.flexible-card-item-1, .flexible-card-item-7 {
  width: 65%;
  height: 100%;
}

.flexible-card-item-2,
.flexible-card-item-3,
.flexible-card-item-4,
.flexible-card-item-5,
.flexible-card-item-6 {
  width: 30%;
  height: 100%;
}

.header-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-bar {
  width: 830px;
  height: 100px;
  background: #D1D2D3;
}

.search-bar-menu {
  display: none;
}

.header-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: #666;
}

.header-bar li {
  padding: 0;
  margin: 0;
}

.search-bar input {
  background: #F2F2F2;
  border-style: none;
  border-color: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  color: #666;
}

.search-bar-container {
  width: 200px;
  height: 40px;
  border: 1px solid #666;
}

.search-bar-image {
  height: 50px;
  width: 50px;
  background-image: url('../assets/img-placeholder.png');
  background-position: center;
  border-radius: 50%;
  border: 1px solid #666;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50%;
  background: #F2F2F2;
}

.magnifying-glass {
  margin-right: 10px;
  height: 100%;
}

.button-container {
  align-self: center;
  margin-top: 30px;
  width: 350px
}

.view-code {
  height: 50px;
  width: 300px;
  font-weight: lighter;
  font-size: 1.2em;
  background: #342344;
  color: #F2F2F2;
}

a {
  color: #F2F2F2;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {

  h1 {
    margin: 0;
    padding: 0;
  }

  .view-code {
    width: 90%;
  }

  .button-container {
    width: 200px;
    margin-left: 20px;
  }

  .content-splitter > h3 {
    margin: 0;
    margin-right: 0;
    margin-top: 30px;
    padding: 0;
  }

  .navigation > h3 {
    margin-top: 1px;
  }

  .navigation > hr {
    display: block;
    width: 20%;
    height: .01px;
    border: 0;
    height: 1px;
    border-top: 1px solid #3F3244;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 99%;
    height: 100px;
  }

  .content-splitter {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .accordion-container {
    width: 103%;
  }
  .accordion-tab-container {
    flex-direction: column;
    width: 97.5%;
    height: 200px;
  }

  .accordion-tab {
    width: 90%;
    height: 300px;
    border-right: 1px solid #D1D2D3;
    border-bottom: none;
  }

  .accordion-tab.active {
    height: 300px;
    width: 90%;
    border-right: 1px solid #D1D2D3;
  }

  .accordion-tab.active:nth-child(1) {
    border-right: 1px solid #D1D2D3;
  }

  .accordion-tab:nth-child(4) {
    border-bottom: 1px solid #D1D2D3;
  }

  .accordion-content-container {
    flex-direction: column;
    align-items: center;
    width: 80.5%;
    padding: 20px 15px;
  }

  .accordion-text-container {
    width: 100%;
  }

  .accordion-img {
    width: 109%;
    height: 150px;
    margin-bottom: 20px;
  }

  .flexible-card-container {
    flex-direction: column;
    width: 100%;
  }

  .flex-row-1, .flex-row-3 {
    display: none;
  }

  .flex-row-2 {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .flexible-card-item-3, .flexible-card-item-4, .flexible-card-item-5 {
    width: 90%;
    height: 260px;
    margin-bottom: 17px
  }

  .flex-card-img {
    height: 79.5%;
  }

  .header-bar-container {
    width: 90%;
    padding: 15px;
  }

  .header-bar {
    height: 70px;
  }

  .header-bar ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 75%;
  }

  .header-bar li {
    margin-left: 30px;
  }

  li.search-bar-image {
    display: none;
  }

  .header-bar > ul {
    display: none;
  }

  .header-bar {
    font-size: 1em;
  }

  .search-bar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search-bar-menu > div {
    margin: 10px;
    height: 50px;
    width: 50px;
    background-image: url('../assets/img-placeholder.png');
    background-position: center;
    border-radius: 50%;
    border: 1px solid #666;
    justify-content: space-around;
  }

  .search-bar-menu > span {
    font-weight: 300;
    color: #666;
    font-size: 1.2em;
    margin: 10px 20px 10px 10px;
  }
}

@media only screen and (max-width: 411) {
  .accordion-img {
    width: 108.9%
  }
}

@media only screen and (max-width: 360px) {
  .accordion-img {
    width: 100%;
  }

  .accordion-tab {
    width: 89%;
  }

  .accordion-tab.active {
    width: 89%;
  }

  .accordion-content-container {
    width: 80.5%;
  }

  .header-bar-container {
    padding: 15px 18px;
  }
}

@media only screen and (max-width: 320px) {
  .accordion-content-container {
    width: 77.5%
  }

  .accordion-img {
    width: 112%;
  }
}
