html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

h1 > span {
  color: #34D1D1;
}

h4 {
  padding: 0;
  margin: 0;
}

hr {
  width: 80%;
  height: .01px;
  border-top: 1px solid #D1D2D3;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.content-splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
}

.content-splitter > h3 {
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.2em;
}

.accordion-container {
 display: flex;
 flex-direction: column;
 align-self: center;
 justify-content: center;
 align-items: center;
 width: 800px;
}

.accordion-tab-container {
  width: 800px;
  height:40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.accordion-tab {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #D1D2D3;
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  background: #F2F2F2;
  color: #666666;
  font-weight: 300;
}

.accordion-tab:nth-child(4) {
  border-right: 1px solid #D1D2D3;
}

.accordion-tab.active {
  background: #FFF;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-bottom: none;
  background: #FFF;
  color: #666666;
  font-weight: 300;
  margin-bottom: 1px;
}

.accordion-tab.active:nth-child(1) {
  border-right: none;
}

.accordion-tab.active:nth-child(4) {
  /* border-left: none; */
}

.accordion-content-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-left: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  padding: 20px 10px 10px 20px;
}

.accordion-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  text-align: left;
  font-size: .95em;
}

.accordion-text-container > p {
  padding: 0;
  font-size: .85em;
}

.accordion-hr {
  margin-left: 0;
  width: 100%;
}

.accordion-img {
  width: 28%;
  height: 28%;
  border: 1px solid #D1D2D3;
}

.navigation {
  display: flex;
  height: 20px;
  padding: 20px 60px;
  background: #2F2235;
  justify-content: space-between;
  align-items: center;
  color: #F2F2F2;
}

.flexible-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  width: 830px;
  padding: 20px 0;
  height: 800px;
}

.flex-row-1 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.flex-row-2 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.flex-row-3 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}

.card-item {
  border: 1px solid #e1e0e2;
  height: auto;
}

.card-item > h4 {
  padding: 15px 10px;
}

.flex-card-img {
  width: 100%;
  height: 78.5%;
}

.flexible-card-item-1, .flexible-card-item-7 {
  width: 65%;
  height: 100%;
}

.flexible-card-item-2,
.flexible-card-item-3,
.flexible-card-item-4,
.flexible-card-item-5,
.flexible-card-item-6 {
  width: 30%;
  height: 100%;
}

.header-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-bar {
  width: 830px;
  height: 100px;
  background: #D1D2D3;
}

.header-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: #666;
}

.header-bar li {
  padding: 0;
  margin: 0;
}

.search-bar input {
  background: #F2F2F2;
  border-style: none;
  border-color: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  color: #666;
}

.search-bar-container {
  width: 200px;
  height: 40px;
  border: 1px solid #666;
}

.search-bar-image {
  height: 50px;
  width: 50px;
  background-image: url('../assets/img-placeholder.png');
  background-position: center;
  border-radius: 50%;
  border: 1px solid #666;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50%;
  background: #F2F2F2;
}

.magnifying-glass {
  margin-right: 10px;
  height: 100%;
}
