html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

h1 > span {
  color: #33aeb3;
}

hr {
  width: 80%;
  height: .01px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.content-splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
}

.content-splitter > h3 {
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.2em;
}

.accordion-container {
 display: flex;
 align-self: center;
 justify-content: center;
 align-items: center;
 width: 80%
}

.accordion-content-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.accordion-text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 200px;
  text-align: left;
  margin-right: 60px;
}

.accordion-text-container > h4 {
  padding: 0;
  margin: 0;
}

.accordion-text-container > p {
  padding: 0;
  font-size: .85em;
}

.accordion-hr {
  margin-left: 0;
  width: 100%;
}

.accordion-img {
  width: 25%;
  height: 25%;
}

.navigation {
  display: flex;
  height: 20px;
  padding: 20px 60px;
  background: #2f2335;
  justify-content: space-between;
  align-items: center;
  color: #e1e0e2;
}
